.contenedor-input
{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;
}

.contenedor-input label 
{
    font-weight: bold;
}

.contenedor-input input
{
    height: 50px;
    padding: 20px;
}

.contenedor-input select
{
    padding: 20px;
}

.btn-submit
{
    padding: 0 !important;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav
{
    align-items: center;
}

section a 
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    background-color:rgb(97, 97, 189);
    border-radius: 3px;
}

section a:hover 
{
    color: white;
}